.gcMessages {
    text-align: left !important;
    font-size: 1.3em;
    /*display: inline-block;*/
    /*position: fixed !important;*/
    /*box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);*/
    /*border: 1px solid #000000;*/
    /*overflow: hidden;*/
}
.gcAnnouncementTitle h2 {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.ms-MessageBanner-clipper {
    width: 90% !important;
    text-overflow: clip !important;
    white-space: normal !important;
}
@media screen and (max-width: 480px) {
    .ms-MessageBanner-clipper {
        padding-left: 65px !important;
    }
}
@media screen and (min-width: 481px) {
    .ms-MessageBanner-clipper {
        padding-left: 40px !important;
    }
}
.ms-MessageBanner-text {
    padding: 16px !important;
    width: 90% !important;
    max-width: 100% !important;
}

.ms-MessageBanner {
    height:auto !important;
    text-align: left !important;
}
.ms-MessageBanner-close, .ms-MessageBanner-expand {
    height: auto !important;
}

.gcMessages .gcAnnouncementTitle {
        font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
        font-size: 1.0em !important;
        font-weight: 800 !important;
        /*color: #0078D7;*/        
}

.gcMessages.critical {
    background-color: #ff2828 !important;
    background-color: rgba(255, 40, 40, 1) !important;
    color: #ffffff !important;
}

.gcMessages.warning {
    background-color: #f3d03e !important;
    background-color: rgba(243, 208, 62, 1) !important;
    color: #000000 !important;
}

.gcMessages.information {
    background-color: #64a70b !important;
    background-color: rgba(100, 167, 11, 1) !important;
    color: #ffffff !important;
}
.gcMessages button[disabled] {
    background-color: transparent !important;
    cursor: default !important;
}
.gcMessages .buttonContainer {
    top: 0 !important;
    width: 52px !important;
    right: 0 !important;
    line-height: 52px !important;
    float: right !important;
    position: absolute !important;
}
.gcAnnouncementImage {
    left: 16px !important;
    top: 12px !important;
    height: 30px !important;
    position: absolute !important;
    -ms-opacity: 0.6 !important;
    opacity: 0.6 !important;
}

/*.ms-MessageBanner-content {
    width: auto;
    float:left; 
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}
.buttonContainer {
    overflow: hidden;
}*/